@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .gradient-text {
    text-transform: uppercase;
    background: linear-gradient(to right, #1745a9 0%, #a019df 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in;
    -webkit-transition: background-size 0.5s ease-in;
    -moz-transition: background-size 0.5s ease-in;
    -ms-transition: background-size 0.5s ease-in;
    -o-transition: background-size 0.5s ease-in;
  }

  .link-underline-white {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
  }

  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
}
