@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: "Manrope", sans-serif;
  }

  body {
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  }

  .gradient-text {
    text-transform: uppercase;
    background: linear-gradient(to right, #1745a9 0%, #a019df 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .link-underline {
    border-bottom-width: 0;
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in;
    -webkit-transition: background-size 0.3s ease-in;
    -moz-transition: background-size 0.3s ease-in;
    -ms-transition: background-size 0.3s ease-in;
    -o-transition: background-size 0.3s ease-in;
  }

  .link-underline-white {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
  }

  .link-underline-black {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#000000, #000000);
  }

  .link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
  }
}
